<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">trackarr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item {{ if (eq .page "logs") }}active{{ end }}">
                <a class="nav-link" href="/logs">Logs</a>
            </li>

            <!-- Present for future use should someone wish to contribute added functionality
            <li class="nav-item {{ if (eq .page "tasks") }}active{{ end }}">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="nav-item {{ if (eq .page "settings") }}active{{ end }}">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            -->
        </ul>
    </div>
</nav>