{{define "head"}}
{{end}}

{{define "content"}}
    <table class="table table-bordered">
        <thead class="thead">
        <tr>
            <th scope="col-sm-1">Timestamp</th>
            <th scope="col-sm-1">Level</th>
            <th scope="col-sm-1">Component</th>
            <th scope="col-sm-9">Message</th>
        </tr>
        </thead>
        <tbody id="logs">
        </tbody>
    </table>
{{end}}

{{define "bottom"}}
    <!-- Log websocket -->
    <script src="/static/js/app/logs-ws.js"></script>
{{end}}
